<ion-content>
  <p class="ion-text-center mt-5 text-dark fw-bold">Welcome back!</p>
  <p class="ion-text-center light">Kindly enter your details to login.</p>
  <div style="display: flex; flex-direction: column; margin-top: 52px;">
    <input type="email" placeholder="Email" class="email-input">
    <input type="password" placeholder="Password" class="password-input">
    <a class="ion-text-right ion-padding">Forgot password?</a>
  </div>
  <ion-button expand="full" class="text-dark mt-5 ion-padding-horizontal br-1">
    Login
  </ion-button>
  <p class="mt-5 ion-text-center">Dont have an account?  <a routerLink="/auth-choice">Register!</a></p>
</ion-content>
