<ion-content>
  <p class="ion-text-center mt-5 text-dark fw-bold">Welcome back!</p>
  <p class="ion-text-center light">Kindly enter your details to login.</p>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div style="display: flex; flex-direction: column; margin-top: 52px;">
      <input type="email" placeholder="Email" class="email-input" [ngClass]="{'error': submit && f.email.errors}" formControlName="email">
      <p *ngIf="submit && f.email.errors" style="margin: 0 15px;" class="error_message">must be a valid email</p>
      <input type="password" placeholder="Password" class="password-input" [ngClass]="{'error': submit && f.password.errors}" formControlName="password">
      <p *ngIf="submit && f.password.errors" style="margin: 0 15px;" class="error_message">minimum of 6 characters</p>

      <a class="ion-text-right ion-padding" routerLink="/forgot-password">Forgot password?</a>
    </div>
    <ion-button type="submit" [disabled]="submit" expand="full" class="text-dark mt-5 ion-padding-horizontal br-1">
      Login
    </ion-button>
  </form>
  <p class="mt-7 ion-text-center">Dont have an account?  <a routerLink="/auth-choice">Register!</a></p>
</ion-content>
