<ion-content>
  <p class="ion-text-center mt-5 text-dark fw-bold">Register with us!</p>
  <p class="ion-text-center light">Firstly, choose what you want to register as?</p>
  <ion-card class="mt-7" routerLink="/signup/consumer" color="primary">
    <ion-card-content>
      <div class="ion-text-center text-dark ion-padding">
        <p class="">As a consumer</p>
        <p></p>
        <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/signup/merchant" color="primary" class="mt-5">
    <ion-card-content>
      <div class="text-dark ion-padding">
        <p class="ion-text-center">As a merchant</p>
        <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
      </div>
    </ion-card-content>
  </ion-card>

  <p class="mt-5 ion-text-center">Dont have an account? <a>Register!</a></p>

</ion-content>
