<ion-header>
  <ion-toolbar color="dark" class="ion-padding">
    <ion-input class="bg-primary br-1">
      <ion-icon name="search-outline" class="ion-margin-start"></ion-icon>
    </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/consumer/payment-method"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  <p class="ion-padding-horizontal">Results</p>
  <ion-card routerLink="/consumer/payment-confirm" color="primary">
    <ion-card-content>
      <ion-row class="ion-justify-content-between text-dark">
        <div>
          <p>Agbabiaka ventures</p>
          <p>111768</p>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card  color="primary" class="ion-margin-top">
    <ion-card-content>
      <ion-row class="ion-justify-content-between text-dark">
        <div>
          <p>Agbabiaka ventures</p>
          <p>111768</p>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
