<ion-header>
  <ion-toolbar color="dark" class="ion-padding">
    <ion-input class="bg-primary br-1"
    (keyup)="search($event)"
    placeholder="Merchant username"
    [formControl]="searchTextInput">
      <ion-icon name="search-outline" class="ion-margin-start"></ion-icon>
    </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/consumer/payment-method"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  <p class="ion-padding-horizontal">Results</p>
  <p *ngIf="searchedMerchants?.length === 0" class="ion-text-center fw-700">No results found</p>
  <ion-card *ngFor="let merchant of searchedMerchants" routerLink="/consumer/payment-confirm/{{merchant.user}}" color="primary">
    <ion-card-content>
      <ion-row class="ion-justify-content-between text-dark">
        <div>
          <p>{{merchant?.businessName}}</p>
          <p>{{merchant?.userName}}</p>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
