<ion-header>
  <ion-toolbar color="dark" class="ion-padding-vertical">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/consumer/payment-search"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text-dark">
  <p class="ion-text-center mt-5">Paying the sum of</p>
  <ion-card routerLink="/consumer/payment-confirm" color="secondary">
    <ion-card-content>
      <ion-row class="ion-justify-content-between text-dark">
        <ion-input class="bg-secondary br-1"> </ion-input>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <p class="ion-text-center mt-5">To</p>
  <ion-card routerLink="/consumer/payment-confirm" color="secondary">
    <ion-card-content>
      <p class="ion-text-center">Agbabiaka ventures</p>
      <p class="ion-text-center">111768</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/consumer/payment-complete" class="text-dark mt-5 ion-padding-horizontal br-1">
    Confirm
  </ion-button>
</ion-content>
