<ion-toolbar color="dark" class="ion-padding-vertical">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
  <ion-title>Forgot Password</ion-title>
</ion-toolbar>
<ion-content>
  <p class="ion-text-center mt-5 text-dark fw-bold">Welcome back!</p>
  <p class="ion-text-center light">Kindly enter the email to your account</p>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div style="display: flex; flex-direction: column; margin-top: 52px;">
      <input type="text" placeholder="Enter your email" class="email-input" [ngClass]="{'error': submit && f.email.errors}" formControlName="email">
      <p *ngIf="submit && f.email.errors" style="margin: 0 15px;" class="error_message">must be a valid email</p>
    </div>
    <ion-button type="submit" [disabled]="submit" expand="full" class="text-dark mt-5 ion-padding-horizontal br-1">
      Submit
    </ion-button>
  </form>
</ion-content>

